:root {
    --bg-color: white;
    --main-text-color: black;
    --transition-time: .3s;
}  

* {
    font-family: "Domine";
}

body {
    background-color:var(--bg-color);
    color: var(--main-text-color);
}

div#main-content {
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

div#personal-content {
    font-size: 18px;
    margin: 5px;
}

div#personal-content p {
    margin: 2.5px;
}

div#personal-content img {
    border-radius: 50%;
    width: 80px;
    filter: grayscale(1);
    user-select: none;
}

div#personal-content img:hover {
    transition: var(--transition-time);
    filter: grayscale(.6);
}

div#personal-content a:link, div#personal-content a:visited, div#personal-content a:active {
    color: var(--main-text-color);
    text-decoration: none;
}

div#personal-content {
    display: inline-block;
}

div#personal-content a:hover {
    text-decoration: underline;
}

div#social-content {
    user-select: none;
}

div#social-content img {
    width: 22px;
    filter: opacity(.75);
    margin-left: 5px;
}

div#social-content img:hover {
    transition: var(--transition-time);
    filter: opacity(.95);
}

div#social-content a:link, div#social-content a:visited, div#social-content a:active, div#social-content a:hover {
    color: var(--main-text-color);
    text-decoration: none;
}