:root {
    --bg-color: white;
    --main-text-color: black;
}  

* {
    font-family: "Inconsolata";
}

body {
    background-color:var(--bg-color);
    color: var(--main-text-color);
    background-image: url('bodybg.jpg');
}

p {
    margin: 0;
    padding: 0;
}

div#main-content {
    text-align: center;
    font-size: 18px;
    position:fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

div#main-content img {
    margin-bottom: 3.5px;
    border-radius: 50%;
    width: 80px;
    filter: grayscale(1);
    user-select: none;
}

div#main-content img:hover {
    transition: 0.5s;
    filter: grayscale(0.5);
}

div#main-content a:link, div#main-content a:visited, div#main-content a:active {
    color: var(--main-text-color);
    text-decoration: none;
}

div#main-content {
    display: inline-block;
}

div#main-content a:hover {
    text-decoration: underline;
}

div#social-content {
    margin-top: 6.5px;
    user-select: none;
}

div#social-content img {
    width: 22px;
    filter: opacity(0.55);
    padding: 0;
    margin: 0;
}

div#social-content img:hover {
    transition: 0.5s;
    filter: opacity(0.85);
}

div#social-content a:link, div#social-content a:visited, div#social-content a:active, div#social-content a:hover {
    color: var(--main-text-color);
    text-decoration: none;
}