body {
    background-image: url('../images/bodybg.jpg');
    background-repeat: repeat;
    padding: 15%;
    font-family: 'Fira Mono';
    font-size: small;
}

#main {
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#main #logo {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    width: auto;
    height: 250px;
}

/*#main #logo:hover {
    background: url('../images/logo_g1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    width: auto;
    height: 250px;
}*/

#main p {
    padding: 0.1em;
    margin: 0.1em;
}

#main p.mail {
    color: #333;
    font-weight: bold;
    letter-spacing: 1em;
    margin-top: 0.5em;
}

#main p.mail span {
    color: #999;
}

#main p.normal {
    color: #999;
}
